<div>
     <li>
      <a class="btn" href="/">Home</a>
     </li>
<h3>Message Board</h3>    
beep boop!
<section>
     {{#each messages.content as |message|}}
     {{> message-content }}
     {{/each}}
</section>
