
h1{
    color: White;
    background-color: rgb(84, 84, 197) ;
    padding: 5px;
}

header {
/* color: rgb(84, 84, 197); */
}

nav {
    display: flex;
}

.btn {
    list-style-type: none;
}